[Bb]in/
obj/
[Dd]ebug/
[Rr]elease/
TestResults/
.*\.suo
.*\.user
packages/*
WebPlayer/playercore\..*
WebPlayer/WebPlayerSettings\.xml
WebPlayer/WebPlayer\.Publish\.xml
Setup/Setup/
WebPlayer/LogConfig.xml
WebEditor/WebEditor/WebEditorSettings.xml
WebPlayer/App_Data/Log.txt
WebEditor/WebEditor/WebEditor.Publish.xml
WebEditor/WebEditor/LogConfig.xml
WebPlayer/paper.js
WebPlayer/grid.js