@import url("playercore.css");
@import url("player.css");

div#gameContent
{
    padding: 20px;
}
div#divOutput
{
    margin-top: 20px;
}
#txtCommand
{
    width: 756px;
    font-size: 14pt;
}
