form#playerform
{
    min-height: 100%;
}
div#updating
{
    position: fixed;
    top: 34px;
    left: 50%;
    margin-left: 185px;
    padding: 10px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    background: white;
    z-index: 1;
}