body {
  overflow-y: scroll;
}

html,
body
{
    margin: 0px;
    height: 100%;
}
h2
{
    font-size: 100%;
}
form#playerform
{
    min-height: 100%;
}
div#gameBorder
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    margin-top: 0;
    min-height: 100%;
}
div#gamePanes
{
    position: fixed;
    float: right;
    width: 200px;
    top: 24px;
    left: 50%;
    margin-left: 255px;
    padding: 10px;
    background: #F9F9FF;
    min-height: 100%;
}
div#status
{
    height: 30px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 948px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    padding: 0;
}
div#location
{
    padding-left: 4px;
    padding-top: 4px;
}
div#updating
{
    position: fixed;
    top: 34px;
    left: 50%;
    margin-left: 185px;
    padding: 10px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    background: white;
}
div#controlButtons
{
    float: right;
}
.hiddenbutton
{
    display: none;
}
#dialog
{
    display: none;
}
#msgbox
{
    display: none;
}
.elementList
{
    width: 100%;
}
.compassbutton
{
    margin-right: 0;
    height: 35px;
    width: 35px;
    padding: 0px;
    font-size: 11px;
}
#statusVars
{
    display: none;
    font-size: 80%;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    overflow: auto;
    border: 1px solid silver;
}
#gamePanesFinished
{
    display: none;
}
#cmdSave
{
    margin-top: 0px;
}
div#gameContent
{
    padding: 30px 20px 0px 20px;
    width: 700px;
    min-height: 100%;
}
div#divOutput
{
    margin-top: 20px;
    min-height: 100%;
}
div#txtCommandDiv
{
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    margin-left: -10px;
    height: 40px;
    background: white;
    filter: alpha(opacity=80);
    opacity: 0.8;
}
#txtCommand
{
    width: 680px;
    font-size: 20px;
    margin-left: 5px;
    vertical-align: bottom;
}
#txtCommandSpacer
{
    height: 50px;
}
#txtCommandPrompt
{
    font-size: 150%;
    font-weight: bold;
}
div#controlButtons .ui-button
{
    font-size: 10px;
}
.verbButtons .ui-button
{
    font-size: 10px;
}
#compassTable .ui-button
{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #C5DBEC;
}

#compassTable .ui-button-disabled
{
    border: 1px solid #C5DBEC;
    background: inherit;
}