body {
  overflow-y: scroll;
}

html,
body
{
    margin: 0px;
    height: 100%;
}
form#playerform
{
    min-height: 100%;
}
div#gameBorder
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    margin-top: 0;
    min-height: 100%;
}
div#updating
{
    position: fixed;
    top: 34px;
    left: 50%;
    margin-left: 185px;
    padding: 10px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    background: white;
    z-index: 1;
}
div#gamePanel
{
    position: fixed;
    top: 32px;
    padding-top: 2px;
    left: 50%;
    margin-left: -456px;
    width: 700px;
    text-align: center;
}
div#gridPanel
{
    position: fixed;
    top: 32px;
    padding: 0;
    left: 50%;
    margin-left: -456px;
    width: 700px;
    overflow: hidden;
    display: none;
}
div#gameContent
{
    padding: 30px 20px 0px 20px;
    width: 700px;
    min-height: 100%;
}