body {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

html,
body
{
    margin: 0px;
}
form#playerform
{
}
div#gameBorder
{
    margin-top: 0;
}
div#gamePanes
{
    padding: 2px;
    background: #F9F9FF;
    display: none;
}
.hiddenbutton
{
    display: none;
}
#dialog
{
    display: none;
}
#msgbox
{
    display: none;
}
.elementList
{
    border: none;
    background: transparent;
}
.compassbutton
{
    margin-right: 0;
    height: 35px;
    width: 35px;
    padding: 0px;
    font-size: 11px;
}
#statusVars
{
    padding: 4px;
}
#cmdSave
{
    margin-top: 0px;
}
div#gameContent
{
    padding: 4px 0px 0px 4px;
}
div#divOutput
{
}
div#txtCommandDiv
{
    padding-top: 10px;
    bottom: 0;
    background: white;
    filter: alpha(opacity=80);
    opacity: 0.8;
    
}
#txtCommand
{
    font-size: 20px;
    vertical-align: bottom;
    width: 100%;
}
div#controlButtons .ui-button
{
    font-size: 10px !important;
}
#compassTable .ui-button
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px !important;
    border: 2px solid #C5DBEC;
}
#compassTable .ui-button-disabled
{
    border: 1px solid #C5DBEC;
    background: inherit;
}
.ui-accordion .ui-accordion-content
{
    padding: 0;
}
.ui-accordion-header
{
    font-size: 12px;
    margin-top: 10px !important;
}
#endWaitLink
{
    font-size: 16px;
    font-weight: bold;
    background: white;
    padding: 2px 20px;
}
#sessionTimeoutDiv
{
    display: none;
    background: white;
    color: black;
    padding: 10px;
    margin: 5px;
}
#gameOverDiv
{
    display: none;
    background: white;
    color: black;
    padding: 10px;
    margin: 5px;
}
div#tabButton
{
    font-size: 25px;
}
table#inputBar
{
    width: 100%;
}
td#inputBarButtons
{
    width: 35px;
}
input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.pane 
{
    display: none;
    background: white;
    padding-bottom: 4px;
}
ul.elementList
{
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    margin: 0px 16px 16px 16px;
}
ul.elementList li
{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 20px;
}
li.elementListHover
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdff),to(#aaaaff)) !important;
}
li.last-child
{
    border-bottom: 0 !important;
}