@using System.Configuration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Loading</title>
        <link rel="Stylesheet" type="text/css" href="~/playercore.css" />
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/resume.js"></script>
        <script type="text/javascript">
            apiRoot = "@(ConfigurationManager.AppSettings["BaseURI"] ?? "http://textadventures.co.uk/")";
        </script>
    </head>
    <body>
        <h1 id="status">Loading...</h1>
    </body>
</html>