@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Loading</title>
        <link rel="Stylesheet" type="text/css" href="~/playercore.css" />
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <h1>Loading...</h1>
    </body>
</html>