@using WebEditor.Models
@model Editor
           
@section scripts {
    <script src="@Url.Content("~/Scripts/GameEdit.js")" type="text/javascript"></script>
}

<script type="text/javascript">
    $(function () {
        $.get('@Url.Action("Load", new { id = Model.GameId })', function (data) {
            $("#treeContent").replaceWith(data);
        });
    });
</script>

<div id="gameTree">
    <div id="treeContent">
    Loading...
    </div>
</div>

<div id="elementEditor"></div>