@using WebEditor.Models
@model Game
           
<h2>@Model.Name</h2>

@* TO DO: Use something like jsTree http://www.jstree.com to render the tree  *@

@RenderTreeItems(Model.Elements)

<div id="elementEditor"></div>

@helper RenderTreeItems(IEnumerable<Game.TreeItem> list) {
    if (list != null)
    {
    <ul>
        @foreach (Game.TreeItem item in list)
        {
            <li>
                @Ajax.ActionLink(
                    item.Text,
                    "EditElement",
                    new {
                        id = Model.GameId,
                        key = item.Key },
                    new AjaxOptions { 
                        UpdateTargetId = "elementEditor",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET" }
                )
                @RenderTreeItems(item.Children)
            </li>
        }
    </ul>        
    }
}