@model WebEditor.Models.StringList

<input type="button" value="Add" class="stringlist-add" data-key="@Model.Attribute" data-prompt="@Model.EditPrompt" />

@if (Model.Items != null)
{
    <ul>
        @foreach (string item in Model.Items)
        {
            <li>@item</li>
        }
    </ul>
}