@model WebEditor.Models.Verbs

<div class="ui-widget-header ui-corner-all toolbar">
    <button type="button" class="verbs-add">Add</button>
    <button type="button" class="verbs-delete">Delete</button>
</div>

Verbs editor...