@page "/dev/query"
@using QuestViva.PlayerCore
@attribute [RequiresConfig("Dev:Enabled")]
@rendermode InteractiveServer

<InputFile OnChange="@LoadFile"></InputFile>

<p>@Result</p>

@code {

    [Inject] private IJSRuntime JS { get; set; } = null!;
    private string Result { get; set; } = "";
    
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var tempFile = Path.Combine(
            Path.GetTempPath(),
            e.File.Name);

        await using FileStream fs = new(tempFile, FileMode.Create);
        await e.File.OpenReadStream(maxAllowedSize: 20 * 1024 * 1024).CopyToAsync(fs);
        
        var query = new GameQuery(tempFile);
        
        var success = await query.Initialise();
        if (!success)
        {
            Result = "Failed to load file: " + string.Join(",", query.Errors);
            return;
        }

        Result = "File loaded OK";
    }
}