@using TextAdventures.Quest

<HeadContent>
    <script type="text/javascript" src="/res/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/res/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/res/lib/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/res/lib/jquery.multi-open-accordion-1.5.3.js"></script>
    <link rel="Stylesheet" type="text/css" href="/res/lib/jquery-ui.min.css" />
    <link rel="Stylesheet" type="text/css" href="/res/playercore.css" />
    <link rel="Stylesheet" type="text/css" href="player.css" />
    <script type="text/javascript" src="/res/playercore.js"></script>
    <script type="text/javascript" src="player.js"></script>
    <script type="text/javascript" src="playerweb.js"></script>
    <script type="text/javascript" src="/res/lib/paper.js"></script>
    <script type="text/paperscript" src="/res/grid.js" canvas="gridCanvas"></script>
</HeadContent>

@UiHtml
<div id="jquery_jplayer" style="width: 0; height: 0">
</div>
<div id="audio_embed">
</div>

<Runner Id="@Id" Provider="@Provider" GameDataProvider="@GameDataProvider"></Runner>

@code {
    [Parameter] public required string Provider { get; set; }
    [Parameter] public required string Id { get; set; }
    [Parameter] public required IGameDataProvider GameDataProvider { get; set; }
    private static MarkupString UiHtml => (MarkupString) PlayerHelper.GetResourceString("playercore.htm");
}