@page "/"
@using TextAdventures.Quest
@rendermode InteractiveServer

<HeadContent>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="js/jquery.multi-open-accordion-1.5.3.js"></script>
        <link rel="Stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.1/themes/redmond/jquery-ui.min.css" />
        <link rel="Stylesheet" type="text/css" href="/res/playercore.css" />
        <link rel="Stylesheet" type="text/css" href="player.css" />
        <script type="text/javascript" src="/res/playercore.js"></script>
        <script type="text/javascript" src="player.js"></script>
        <script type="text/javascript" src="playerweb.js"></script>
        <script type="text/javascript" src="/res/paper.js"></script>
        <script type="text/paperscript" src="/res/grid.js" canvas="gridCanvas"></script>
</HeadContent>

<div hidden="@(playerHelper == null)">
    @uiHtml
</div>

@if (playerHelper == null)
{
    <button @onclick="LoadASL4">Load ASL4</button>
    <button @onclick="LoadASL5">Load ASL5</button>
}