@page "/"
@rendermode InteractiveServer

<h3>Quest</h3>

<p>@status</p>

@if (playerHelper != null)
{
    @foreach (var line in output)
    {
        <p>@line</p>
    }
    
    <input @bind="input"/>
    <button @onclick="Submit">Submit</button>
}
else
{
    <button @onclick="LoadASL4">Load ASL4</button>
}