<asl version="520" templatetype="gamebook">

  <include ref="GamebookCore.aslx"/>

  <game name="$NAME$">
    <gameid>$ID$</gameid>
    <version>1.0</version>
  </game>

  <object name="Page1">
    <object name="player">
      <inherit name="defaultplayer"/>
    </object>
  </object>

</asl>