---
import "bootswatch/dist/cosmo/bootstrap.min.css";
import NavItem from "./NavItem.astro";

const current = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{Astro.props.title}</title>
        <script>
            import 'bootstrap/dist/js/bootstrap.bundle.min.js'
        </script>
	</head>
	<body>
        <header>
            <nav class="navbar navbar-expand-md navbar-toggleable-md bg-primary border-bottom box-shadow mb-3" data-bs-theme="dark">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        Quest Viva
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <NavItem href="/" text="Home" current={current} />
                            <!-- <NavItem href="/forum/" text="Forums" current={current} /> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                <slot />
            </main>
        </div>
    </body>
</html>