@page "/"
@using QuestViva.Common
@inject IConfig Config
@rendermode InteractiveServer

@if (string.IsNullOrEmpty(Config.HomeFile))
{
    @if (Config.DevEnabled)
    {
        <p><a href="/dev/open">Open a file</a></p>
    }
    else
    {
        <p>No game file has been configured.</p>
    }
}
else
{
    <Game GameDataProvider="@GetGameDataProvider()"></Game>
}

@code {
    private IGameDataProvider GetGameDataProvider()
    {
        return new FileDirectoryGameDataProvider(Config.HomeFile!, $"home");
    }
}