@page "/"
@using QuestViva.Common
@inject IConfiguration Configuration
@rendermode InteractiveServer

@if (string.IsNullOrEmpty(Configuration["Home:File"]))
{
    <p>No game file has been configured.</p>
    <p><a href="/dev/open">Open a file</a></p>
}
else
{
    <Game GameDataProvider="@GetGameDataProvider()"></Game>
}

@code {
    private IGameDataProvider GetGameDataProvider()
    {
        return new FileDirectoryGameDataProvider(Configuration["Home:File"]!, $"home");
    }
}