@page "/"
@using QuestViva.Common
@inject IConfiguration Configuration
@rendermode InteractiveServer

@if (string.IsNullOrEmpty(Configuration["Home:File"]))
{
    <p>No game file has been configured.</p>
    <p><a href="/open">Open a file</a></p>
}
else
{
    <Player GameDataProvider="@GetGameDataProvider()"></Player>
}

@code {
    private IGameDataProvider GetGameDataProvider()
    {
        return new FileGameDataProvider(Configuration["Home:File"]!, $"home");
    }
}